@media screen and (max-width: 37.5rem) {
    .navbar a{display: none;}
    #project{
      display: block;
    }
    .projects-container{
      flex-direction: column;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
    .body-section{
        flex-direction: column;
    }
    #image{
      margin-right: 0;
    }

  }
  
  @media screen and (max-width: 37.5rem) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }